{% extends "admin/basic/base.html" %}
{% load static %} 

{% block content %}

<div class="nk-block nk-block-lg">
    <div class="nk-block-head">
        <div class="nk-block-head-content">
            <h4 class="title nk-block-title">Add Blog</h4> 
            <div class="nk-block-des">
                {% comment %} <p>You can alow display form in column as example below.</p> {% endcomment %}
            </div>
        </div>
    </div>
    <div class="card card-bordered ">
        <div class="col-9" >
            <div class="card-head">
                <h5 class="card-title"></h5>
            </div>
            <form  method="post" id="register" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="column row" >
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label" for="full-name-1" style="margin-top: 20px" >Blog Title*</label>
                            <div class="form-control-wrap">
                                {% comment %} <input type="hidden" class="form-control" id="full-name-1" value="superadmin" name="superadmin" data-rule-required="true"> {% endcomment %}
                                <input type="text" data-rule-required="true" data-rule-noSpace="true" class="form-control" id="full-name-1" name="blog_title" data-rule-required="true"
                                onkeypress='return (event.keyCode >=65 && event.keyCode <= 90)|| (event.keyCode >=95 && event.keyCode <= 122)' maxlength="150">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label" for="full-name-1" style="margin-top: 20px" > Blog Video</label>
                            <div class="form-control-wrap">
                                <input type="file" class="form-control" data-rule-required="true"  data-msg-accept="Please enter valid video file"  accept="video/mp4*" id="blog_video" name="blog_video">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label" for="full-name-1" style="margin-top: 20px" > Blog Image</label>
                            <div class="form-control-wrap">
                                <input type="file" class="form-control" data-rule-required="true"  id="blog_image" name="blog_image"  accept="image/png, image/gif, image/jpeg" >
                            </div>
                        </div>
                    </div>
                    {% comment %} <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label" for="email-address-1" style="margin-top: 20px" >Blog Content*</label>
                            <div class="form-control-wrap">
                                <input type="text" data-rule-required="true" data-rule-noSpace="true" class="form-control" id="desgination" name="desgination" data-rule-required="true"> 
                                <textarea value="" data-rule-required="true" class="summernote-basic" data-rule-noSpace="true" name="blog_content" id="blog_content" required></textarea>
                            </div>
                        </div>
                    </div> {% endcomment %}
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label" for="email-address-1" style="margin-top: 20px" >Meta Keyword*</label>
                            <div class="form-control-wrap">
                                <input type="text" data-rule-required="true" data-rule-noSpace="true" class="form-control" id="meta_keyword" name="meta_keyword" data-rule-required="true">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label" for="email-address-1" style="margin-top: 20px" >Meta Title*</label>
                            <div class="form-control-wrap">
                                <input type="text" data-rule-required="true" data-rule-noSpace="true" class="form-control" id="meta_title" name="meta_title" data-rule-required="true"
                                onkeypress='return (event.keyCode >=65 && event.keyCode <= 90)|| (event.keyCode >=95 && event.keyCode <= 122)' maxlength="150">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label" for="email-address-1" style="margin-top: 20px" > Meta Description*</label>
                            <div class="form-control-wrap">
                                {% comment %} <input type="url" class="form-control" id="description" name="description" data-rule-required="true"> {% endcomment %}
                                <textarea class="summernote-basic" value="" data-rule-required="true" data-rule-noSpace="true" name="meta_description" required></textarea>
                            </div>
                        </div>
                    </div>
                   
                    
                    </div>
                    {% comment %} <input type="hidden" class="form-control" id="email-address-1" name="customer" value="customer" data-rule-required="true"> {% endcomment %}

                    <div class="col-12  mb-3">
                        <div class="form-group">
                            <button type="submit" onclick="Register()" class="btn btn-lg btn-primary" style="margin-top: 74px"> Add </button>
                            {% comment %} <button class="btn btn-lg btn-primary" style="margin-top: 74px"> Back</button> {% endcomment %}
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock content %}

{% block js_content %}
<script>
function Register(){
  jQuery.validator.addMethod("noSpace", function(value, element) { 
    if(value.indexOf(" ")==0){
        return false;
    }
    return true;
}, "No space please and don't leave it empty");
$.validator.addMethod('emailRegex', function(value, element) {
let emailExp = new RegExp(/^\b[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}\b$/i);
return emailExp.test(value);
}, 'Email format is not valid');  
$('#register').valid()
}
</script>
{% comment %} <script src="https://cdn.ckeditor.com/4.17.1/standard/ckeditor.js"></script>
<script>
    CKEDITOR.replace('blog_content');
    CKEDITOR.replace('meta_description');
</script> {% endcomment %}
{% comment %} <script>
function Register()
{
         if(document.getElementById('blog_content').value == '') 
         {      
              document.getElementById('blog_content').focus();
        return false;       
        }
         {% comment %} else if(document.getElementById('name').value == '')
         {      
               document.getElementById('name').focus();
        return false;       
        } {% endcomment %}
         {% comment %} else
           return true;
}
</script> {% endcomment %}
{% endblock js_content %}  