<!DOCTYPE html>
<html lang="zxx" class="js">

{%extends 'franchise/base/base.html' %}
{% load static %}
{% block content%}
<body class="nk-body bg-lighter ">
    <div class="nk-app-root">
        <!-- wrap @s -->
        <div class="nk-wrap ">
            <!-- main header @s -->
            {% include 'franchise/base/header.html' %}
            <!-- main header @e -->
            <!-- content @s -->
            <div class="nk-content ">
                <div class="container-fluid">
                    <div class="nk-content-inner">
                        <div class="nk-content-body">
                            <div class="nk-block-head nk-block-head-sm">
                                <div class="nk-block-between g-3">
                                    <div class="nk-block-head-content">
                                        <h3 class="nk-block-title page-title">Product Details</h3>
                                        <div class="nk-block-des text-soft">
                                            {% comment %} <p>An example page for product details</p> {% endcomment %}
                                        </div>
                                    </div>
                                    {% comment %} <div class="nk-block-head-content">
                                        <a href="html/product-list.html" class="btn btn-outline-light bg-white d-none d-sm-inline-flex"><em class="icon ni ni-arrow-left"></em><span>Back</span></a>
                                        <a href="html/product-list.html" class="btn btn-icon btn-outline-light bg-white d-inline-flex d-sm-none"><em class="icon ni ni-arrow-left"></em></a>
                                    </div> {% endcomment %}
                                </div>
                            </div><!-- .nk-block-head -->
                            <div class="nk-block">
                                <div class="card card-bordered">
                                    <div class="card-inner">
                                        <div class="row pb-5">
                                            <div class="col-lg-6 col-xxl-5">
                                                <div class="product-gallery mr-xl-1 mr-xxl-5">
                                                    <div class="slider-init" id="sliderFor" data-slick='{"arrows": false, "fade": true, "asNavFor":"#sliderNav", "slidesToShow": 1, "slidesToScroll": 1}'>
                                                        <div class="slider-item rounded">
                                                            <img src="{{product_detail.product_image.url}}" class="rounded w-100" alt="">
                                                        </div>
                                                        <div class="slider-item rounded">
                                                            <img src="{% static  'franchise/images/product/lg-g.jpg' %}" class="rounded w-100" alt="">
                                                        </div>
                                                        <div class="slider-item rounded">
                                                            <img src="./images/product/lg-d.jpg" class="rounded w-100" alt="">
                                                        </div>
                                                        <div class="slider-item rounded">
                                                            <img src="./images/product/lg-h.jpg" class="rounded w-100" alt="">
                                                        </div>
                                                        <div class="slider-item rounded">
                                                            <img src="./images/product/lg-e.jpg" class="rounded w-100" alt="">
                                                        </div>
                                                    </div><!-- .slider-init -->
                                                    <div class="slider-init slider-nav" id="sliderNav" data-slick='{"arrows": false, "slidesToShow": 5, "slidesToScroll": 1, "asNavFor":"#sliderFor", "centerMode":true, "focusOnSelect": true, 
                                "responsive":[ {"breakpoint": 1539,"settings":{"slidesToShow": 4}}, {"breakpoint": 768,"settings":{"slidesToShow": 3}}, {"breakpoint": 420,"settings":{"slidesToShow": 2}} ]
                            }'>
                                                        <div class="slider-item">
                                                            <div class="thumb">
                                                                <img src="./images/product/lg-a.jpg" class="rounded" alt="">
                                                            </div>
                                                        </div>
                                                        <div class="slider-item">
                                                            <div class="thumb">
                                                                <img src="./images/product/lg-g.jpg" class="rounded" alt="">
                                                            </div>
                                                        </div>
                                                        <div class="slider-item">
                                                            <div class="thumb">
                                                                <img src="./images/product/lg-d.jpg" class="rounded" alt="">
                                                            </div>
                                                        </div>
                                                        <div class="slider-item">
                                                            <div class="thumb">
                                                                <img src="./images/product/lg-h.jpg" class="rounded" alt="">
                                                            </div>
                                                        </div>
                                                        <div class="slider-item">
                                                            <div class="thumb">
                                                                <img src="./images/product/lg-e.jpg" class="rounded" alt="">
                                                            </div>
                                                        </div>
                                                    </div><!-- .slider-nav -->
                                                </div><!-- .product-gallery -->
                                            </div><!-- .col -->
                                            <div class="col-lg-6 col-xxl-5">
                                                <div class="product-info mt-5 mr-xxl-5">
                                                    <h4 class="product-price text-primary">${{product_detail.oneday_price}} <small class="text-muted fs-14px"></small></h4>
                                                    <h2 class="product-title">{{product_detail.name}}</h2>
                                                    <div class="product-rating">
                                                        <ul class="rating">
                                                            <li><em class="icon ni ni-star-fill"></em></li>
                                                            <li><em class="icon ni ni-star-fill"></em></li>
                                                            <li><em class="icon ni ni-star-fill"></em></li>
                                                            <li><em class="icon ni ni-star-fill"></em></li>
                                                            <li><em class="icon ni ni-star-half"></em></li>
                                                        </ul>
                                                        <div class="amount">(2 Reviews)</div>
                                                    </div><!-- .product-rating -->
                                                    <div class="product-excrept text-soft">
                                                        <p class="lead">{{product_detail.description|safe}}.</p>
                                                    </div>

                                                    {% comment %} Product Optionsss {% endcomment %}
                                                    

                                                    <div class="product-meta">
                                                        <ul class="d-flex g-3 gx-5">
                                                            <li>
                                                                <div class="fs-14px text-muted">Option</div>
                                                                <div class="fs-16px fw-bold text-secondary">{{i.option_value.option.name}}</div>
                                                            </li>
                                                            <li>
                                                                <div class="fs-14px text-muted">Option Key</div>
                                                                <div class="fs-16px fw-bold text-secondary">{{i.option_value.option_name}}</div>
                                                            </li>
                                                            <li>
                                                                <div class="fs-14px text-muted">Option value</div>
                                                                <div class="fs-16px fw-bold text-secondary">{{i.option_value.option_value}}</div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                  

                                                     {% comment %} End Product Optionsss {% endcomment %}

                                                    <div class="product-meta">
                                                        <ul class="d-flex g-3 gx-5">
                                                            <li>
                                                                <div class="fs-14px text-muted">Type</div>
                                                                <div class="fs-16px fw-bold text-secondary">Watch</div>
                                                            </li>
                                                            <li>
                                                                <div class="fs-14px text-muted">Model Number</div>
                                                                <div class="fs-16px fw-bold text-secondary">Forerunner 290XT</div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    
                                                    
                                                   
                                                    <div class="product-meta">
                                                       
                                                      
                                                        <ul class="custom-control-group">
                                                            <li>
                                                                {% for i in product_option %}
                                                                {% if i.option_value.option.name == i.option_value.option.slug %}

                                                                 {% if forloop.counter == 1 %}
                                                                 <h6 class="title">{{ i.option_value.option.name}}</h6>
                                                                {% endif %}
                                                                 {% comment %} <h6 class="title">color</h6> {% endcomment %}
                                                               
                                                                <div class="custom-control color-control">
                                                                    <input type="radio" class="custom-control-input" id="productColor{{forloop.counter}}" name="productColor" checked>
                                                                    <label class="custom-control-label dot dot-xl" data-bg="{{i.option_value.option_value}}" for="productColor{{forloop.counter}}"></label>
                                                                </div>
                                                                
                                                                {% endif %}
                                                                {% endfor %}
                                                            </li>
                                                           
                                                        </ul>
                                                    </div>
                                                 
                                                    
                                                    <div class="product-meta">
                                                        <h6 class="title">Size</h6>
                                                        <ul class="custom-control-group">
                                                            <li>
                                                                {% for i in product_option %}
                                                                {% if i.option_value.option.name == "size" %}
                                                                
                                                                <div class="custom-control custom-radio custom-control-pro no-control">
                                                                    <input type="radio" class="custom-control-input" name="sizeCheck" id="sizeCheck{{forloop.counter}}" checked>
                                                                    <label class="custom-control-label" for="sizeCheck{{forloop.counter}}">{{i.option_value.option_name}}</label>
                                                                </div>
                                                                 {% endif %}
                                                                {% endfor %}
                                                            </li>
                                                          
                                                        </ul>
                                                    </div><!-- .product-meta -->
                                                    <div class="product-meta">
                                                        <ul class="d-flex flex-wrap ailgn-center g-2 pt-1">
                                                            <li class="w-140px">
                                                                <div class="form-control-wrap number-spinner-wrap">
                                                                    <button class="btn btn-icon btn-outline-light number-spinner-btn number-minus" data-number="minus"><em class="icon ni ni-minus"></em></button>
                                                                    <input type="number" class="form-control number-spinner" value="0">
                                                                    <button class="btn btn-icon btn-outline-light number-spinner-btn number-plus" data-number="plus"><em class="icon ni ni-plus"></em></button>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <button class="btn btn-primary">Add to Cart</button>
                                                            </li>
                                                            <li class="ml-n1">
                                                                <button class="btn btn-icon btn-trigger text-primary"><em class="icon ni ni-heart"></em></button>
                                                            </li>
                                                        </ul>
                                                    </div><!-- .product-meta -->
                                                </div><!-- .product-info -->
                                            </div><!-- .col -->
                                        </div><!-- .row -->
                                        <hr class="hr border-light">
                                        <div class="row g-gs flex-lg-row-reverse justify-content-between pt-5">
                                            <div class="col-lg-5 col-xxl-4">
                                                <div class="video">
                                                    <img class="video-poster w-100" src="{% static  'franchise/images/product/video-a.jpg' %}" alt="">
                                                    <a class="video-play popup-video" href="https://www.youtube.com/watch?v=SSo_EIwHSd4">
                                                        <em class="icon ni ni-play"></em>
                                                        <span>Watch Video</span>
                                                    </a>
                                                </div>
                                            </div><!-- .col -->
                                            <div class="col-lg-7">
                                                <div class="product-details entry mr-xxl-3 wide-md">
                                                    <h3>Product details of Comfy cushions</h3>
                                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Neque porro quisquam est, qui dolorem consectetur, adipisci velit.Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.</p>
                                                    <ul class="list list-sm list-checked">
                                                        <li>Meets and/or exceeds performance standards.</li>
                                                        <li>Liumbar support.</li>
                                                        <li>Made of bonded teather and poiyurethane.</li>
                                                        <li>Metal frame.</li>
                                                        <li>Anatomically shaped cork-latex</li>
                                                        <li>As attractively priced as you look attractive in one</li>
                                                    </ul>
                                                    <p>Unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae.</p>
                                                    <h3>The best seats in the house</h3>
                                                    <p>I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings. Unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae.</p>
                                                </div>
                                            </div><!-- .col -->
                                        </div><!-- .row -->
                                    </div>
                                </div>
                            </div><!-- .nk-block -->
                            <div class="nk-block nk-block-lg">
                                <div class="nk-block-head">
                                    <div class="nk-block-between g-3">
                                        <div class="nk-block-head-content">
                                            <h3 class="nk-block-title page-title">Related Products</h3>
                                        </div>
                                    </div>
                                </div><!-- .nk-block-head -->
                                <div class="slider-init row" data-slick='{"slidesToShow": 4, "centerMode": false, "slidesToScroll": 1, "infinite":false, "responsive":[ {"breakpoint": 1540,"settings":{"slidesToShow": 3}},{"breakpoint": 992,"settings":{"slidesToShow": 2}}, {"breakpoint": 576,"settings":{"slidesToShow": 1}} ]}'>
                                    {% for i in product %}
                                    <div class="col">
                                        <div class="card card-bordered product-card">
                                            <div class="product-thumb">
                                                <a href="html/product-details.html">
                                                    <img class="card-img-top" src="{{i.product_image.url}}" alt="" style ="width: 456px;height: 422px;">
                                                </a>
                                                <ul class="product-badges">
                                                    <li><span class="badge badge-success">New</span></li>
                                                </ul>
                                                <ul class="product-actions">
                                                    <li><a href="#"><em class="icon ni ni-cart"></em></a></li>
                                                    <li><a href="#"><em class="icon ni ni-heart"></em></a></li>
                                                </ul>
                                            </div>
                                            <div class="card-inner text-center">
                                                <ul class="product-tags">
                                                    <li><a href="#">{{i.category.name}}</a></li>
                                                </ul>
                                                <h5 class="product-title"><a href="{% url 'product_detail' i.slug %}">{{i.name}}</a></h5>
                                                <div class="product-price text-primary h5"><small class="text-muted del fs-13px"></small>${{i.price}}</div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}<!-- .col -->
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content @e -->
            <!-- footer @s -->
            <div class="nk-footer bg-white">
                <div class="container-fluid">
                    <div class="nk-footer-wrap">
                        <div class="nk-footer-copyright"> &copy; 2022 Dashlite. Template by <a href="#">Softnio</a>
                        </div>
                        <div class="nk-footer-links">
                            <ul class="nav nav-sm">
                                <li class="nav-item dropup">
                                    <a herf="#" class="dropdown-toggle dropdown-indicator has-indicator nav-link" data-toggle="dropdown" data-offset="0,10"><span>English</span></a>
                                    <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
                                        <ul class="language-list">
                                            <li>
                                                <a href="#" class="language-item">
                                                    <span class="language-name">English</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="language-item">
                                                    <span class="language-name">Español</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="language-item">
                                                    <span class="language-name">Français</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="language-item">
                                                    <span class="language-name">Türkçe</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a href="#" data-toggle="modal" data-target="#region" class="nav-link"><em class="icon ni ni-globe"></em><span class="ml-1">Select Region</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- footer @e -->
        </div>
        <!-- wrap @e -->
    </div>
    <!-- app-root @e -->
    <!-- select region modal -->
    <div class="modal fade" tabindex="-1" role="dialog" id="region">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <a href="#" class="close" data-dismiss="modal"><em class="icon ni ni-cross-sm"></em></a>
                <div class="modal-body modal-body-md">
                    <h5 class="title mb-4">Select Your Country</h5>
                    <div class="nk-country-region">
                        <ul class="country-list text-center gy-2">
                            <li>
                                <a href="#" class="country-item">
                                    <img src="./images/flags/arg.png" alt="" class="country-flag">
                                    <span class="country-name">Argentina</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="country-item">
                                    <img src="./images/flags/aus.png" alt="" class="country-flag">
                                    <span class="country-name">Australia</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="country-item">
                                    <img src="./images/flags/bangladesh.png" alt="" class="country-flag">
                                    <span class="country-name">Bangladesh</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="country-item">
                                    <img src="./images/flags/canada.png" alt="" class="country-flag">
                                    <span class="country-name">Canada <small>(English)</small></span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="country-item">
                                    <img src="./images/flags/china.png" alt="" class="country-flag">
                                    <span class="country-name">Centrafricaine</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="country-item">
                                    <img src="./images/flags/china.png" alt="" class="country-flag">
                                    <span class="country-name">China</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="country-item">
                                    <img src="./images/flags/french.png" alt="" class="country-flag">
                                    <span class="country-name">France</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="country-item">
                                    <img src="./images/flags/germany.png" alt="" class="country-flag">
                                    <span class="country-name">Germany</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="country-item">
                                    <img src="./images/flags/iran.png" alt="" class="country-flag">
                                    <span class="country-name">Iran</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="country-item">
                                    <img src="./images/flags/italy.png" alt="" class="country-flag">
                                    <span class="country-name">Italy</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="country-item">
                                    <img src="./images/flags/mexico.png" alt="" class="country-flag">
                                    <span class="country-name">México</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="country-item">
                                    <img src="./images/flags/philipine.png" alt="" class="country-flag">
                                    <span class="country-name">Philippines</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="country-item">
                                    <img src="./images/flags/portugal.png" alt="" class="country-flag">
                                    <span class="country-name">Portugal</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="country-item">
                                    <img src="./images/flags/s-africa.png" alt="" class="country-flag">
                                    <span class="country-name">South Africa</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="country-item">
                                    <img src="./images/flags/spanish.png" alt="" class="country-flag">
                                    <span class="country-name">Spain</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="country-item">
                                    <img src="./images/flags/switzerland.png" alt="" class="country-flag">
                                    <span class="country-name">Switzerland</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="country-item">
                                    <img src="./images/flags/uk.png" alt="" class="country-flag">
                                    <span class="country-name">United Kingdom</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="country-item">
                                    <img src="./images/flags/english.png" alt="" class="country-flag">
                                    <span class="country-name">United State</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div><!-- .modal-content -->
        </div><!-- .modla-dialog -->
    </div><!-- .modal -->
    <!-- JavaScript -->
  
</body>
{% endblock content %}

</html>