<html>
{% extends 'web/basic/base.html' %}
{% load static %}
{% block title %}Forgot password{% endblock %}

{% block content %}
<body>
    <div class="wraper-main">
        <div class="login-form-container">
            <div class="login-left my-auto">
                <div class="login-left-in">
                    <a href="javascript:;"><img src="{% static 'web/images/logo.svg/' %}"></a>
                    <h2>Lorem Ipsum is simply dummy text</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,when an unknown printer took a galley of type and scrambled.</p>
                    <img src="{% static 'web/images/login-img.svg' %}">
                </div>
            </div>
            <div class="login-right my-auto">
                <div class="login-right-in"> 
                    <div class="login-right-center"> 
                        <div class="login-head">
                            <h4>Forgot Password</h4>
                            <p>Email Address/Phone number to get OTP</p>
                        </div>
                        <div class="login-form">
                            <form method="POST" id="forgot-password"> 
                                {% csrf_token %}
                                <div class="form-group">
                                  <input type="email"   value="{{data.email}}"name="email" data-rule-required="true" class="form-control" id="exampleFormControlInput1" placeholder="Email address">
                                </div>
                              
                                <button type="submit" onclick="forgot()" class="btn btn-site w-100">Submit</button>
                                
                                <div class="back-btn-sec">
                                   <a class="back-btn" href="/login/"><i class="ri-arrow-left-circle-fill"></i> Back</a></p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
 function forgot(){
     $('#forgot-password').valid()
     $.validator.addMethod('emailRegex', function(value, element) {
        let emailExp = new RegExp(/^\b[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}\b$/i);
        return emailExp.test(value);
    }, 'Email format is not valid');
 }  
</script>
{% endblock content %}
</html>