<html>
{% extends 'web/basic/base.html' %}
{% load static %}
{% block title %}Login{% endblock %}

{% block content %}
   <body>

    <div class="wraper-main">
        <div class="login-form-container">
            <div class="login-left my-auto">
                <div class="login-left-in">
                    <a href="/"><img src="{% static 'web/images/logo.svg' %}"></a>
                    <h2>Lorem Ipsum is simply dummy text</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,when an unknown printer took a galley of type and scrambled.</p>
                    <img src="{% static 'web/images/login-img.svg'%}">
                </div>
            </div>
            <div class="login-right my-auto">
                <div class="login-right-in"> 
                    <div class="login-right-center"> 
                        <div class="login-head">
                            <h4>Login</h4>
                            <p>Use your credentials to access your account.</p>
                        </div>
                        <div class="login-form">
                            <form method="POST" id="login_form_id">
                                {% csrf_token %}
                                <div class="form-group">
                                  <input type="email"  value="{{data.email}}" name="email" 
                                  data-rule-required="true" class="form-control" id="exampleFormControlInput1" placeholder="Email address">
                                </div>
                                <div class="form-group">
                                  <input type="password" value="{{data.password}}" name="password" class="form-control" id="exampleFormControlInput2" placeholder="Password" data-rule-required="true">
                                </div>
                                <div class="d-flex fg-links">
                                    <div class="form-check">
                                      <input class="form-check-input" type="checkbox" value="" id="remember-me">
                                      <label class="form-check-label" for="remember-me">
                                        Remember me
                                      </label>
                                    </div>
                                    <a href="/forgot/password/" class="ms-auto">Forgot Password?</a>
                                </div>
                                <button tye="submit" onclick="login_form()" class="btn btn-site w-100">Login</button>
                                <div class="divi-line">
                                    <span>Or Login with</span>
                                </div>
                                <div class="social-icon">
                                    <ul>
                                       {% comment %} <li><a class="bg-facebook show-use-type-modal" onclick="socialLoginModal(event, this)" data-href="{% url 'social:begin' 'facebook' %}"><i class="ri-facebook-fill"></i><span>Facebook</span></a></li> {% endcomment %}
                                       <li><a class="bg-twitter" onclick="socialLoginModal(event, this)"  data-href="{% url 'social:begin' 'google-oauth2' %}"><i class="ri-google-fill"></i><span>google</span></a></li>
                                       {% comment %} <li><a class="bg-apple" href="javascript:;"><i class="ri-apple-fill"></i><span>Apple</span></a></li> {% endcomment %}
                                    </ul>
                                </div>
                                <div class="not-account">
                                    <p>Don't have an account? <a href="/sign-up/">Sign up</a></p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="modal fade select-type-modal" id="exampleselectuser" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content"> 
         <!--     <div class="modal-header">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div> -->
            <div class="modal-body">
                        <div class="select-type-row">
                            <a class="navbar-brand" href="index.php">
                            <img src="{% static 'web/images/logo.svg'%}">
                            </a>
                            <h3>Select User Type</h3>
                            <form>
                            <input type="radio" name="user_type" hidden />
                            {% comment %} <input type="text" id="userType" name="userType"  /> {% endcomment %}
                            <ul class="select-type-check">
                                <li class="user_type">
                                    <a  data-user-type="vacationer">
                                        <figure><img src="{% static 'web/images/vacationer.svg'%}"></figure>
                                        <span>Vacationer</span>
                                    </a>
                                </li>
                                <li class="user_type">
                                    <a  data-user-type="homeowner">
                                        <figure><img src="{% static 'web/images/homeowner.svg'%}"></figure>
                                        <span>Homeowner</span>
                                    </a>
                                </li>
                                <li class="user_type">
                                    <a data-user-type="propertymanager">
                                        <figure><img src="{% static 'web/images/property-manager.svg'%}"></figure>
                                        <span>Property Manager</span>
                                    </a>
                                </li>
                            </ul>
                             <a href="" id="social-login-btn" class="btn">Next</a>
                        </form>
                        </div>
            </div>
        </div>
    </div>
</div>  
    <!-- -----java script------ -->
    </body>
    
<script>
   function login_form(){
       $('#login_form_id').valid() 
       $.validator.addMethod('emailRegex', function(value, element) {
        let emailExp = new RegExp(/^\b[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}\b$/i);
        return emailExp.test(value);
    }, 'Email format is not valid'); 
    
    
  
    }
   
    
</script>

<script>
       function socialLoginModal(event, element) {
           console.log(event, element, "-----------")
            event.preventDefault()
            $('#exampleselectuser').modal('toggle')
            $('#social-login-btn').attr('href', $(element).data('href'))
        }


</script>
{% endblock content %}
    {% block javascript %}
<script>
        $('.user_type a').on('click', function(e) {
            e.preventDefault()
            localStorage.setItem('userType', $(this).data('user-type'))
           
          
    })
    </script>

    {% endblock javascript %}
</html>