<html>
   {% extends 'web/basic/base.html' %}
{% load static %}
{% block content %}
   <body>

    <div class="wraper-main">
        <div class="login-form-container">
            <div class="login-left my-auto">
                <div class="login-left-in">
                    <a href="javascript:;"><img src="{% static 'web/images/logo.svg' %}"></a>
                    <h2>Lorem Ipsum is simply dummy text</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,when an unknown printer took a galley of type and scrambled.</p>
                    <img src="{% static 'web/images/login-img.svg' %}">
                </div>
            </div>
            <div class="login-right my-auto">
                <div class="login-right-in"> 
                    <div class="login-right-center"> 
                        <div class="login-head">
                            <h4>Reset Password</h4>
                            <p>Reset Ipsum is simply dummy text of the printing</p>
                        </div>
                        <div class="login-form">
                            <form method="POST" id="reset">
                                {% csrf_token %}
                                <div class="form-group">
                                  <input type="password" data-rule-required="true" data-rule-PASSWORD=="true" name="new-password" class="form-control" id="exampleFormControlInput1" placeholder="Password">
                                </div>
                                <div class="form-group">
                                  <input type="password" data-rule-required="true"  data-rule-PASSWORD=="true" name="confirm-new-password" class="form-control" id="exampleFormControlInput2" placeholder="Confirm Password">
                                </div>
                              
                                <button type="submit" onclick="reset_form()" class="btn btn-site w-100">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    </body>
    <script>
        function reset_form(){
            $('#reset').valid()
             $.validator.addMethod("PASSWORD", function (value, element) {
                  return /[\@\#\$\%\^\&\*\(\)\_\+\!]/.test(value) && /[a-z]/.test(value) && /[0-9]/.test(value) && /[A-Z]/.test(value);
    },"Passwords are 8-16 characters with uppercase letters, lowercase letters and atleast one number and one special character.");
        }
    </script>
    {% endblock content %}
</html>