{% extends "admin/basic/base.html" %}
{% load static %} 

{% block content %}

<div class="nk-block nk-block-lg">
    <div class="nk-block-head">
        <div class="nk-block-head-content">
            
            <h4 class="nk-block-title">Offer Management</h4>
            <div class="nk-block-des">
                {% comment %} <p>Using the most basic table markup, here’s how <code class="code-class">.table</code> based tables look by default.</p> {% endcomment %}
            </div>
        </div>
       
    </div>
    <div class="card card-preview">
         {% if perms.superadmin.add_offermanagement %}  
        <div "nk-block-head-content" style="text-align: right;padding:1rem 2rem"> 
            <a  href="{% url 'offer_add' %}" class="btn btn-info" ><i class="fa-solid fa-plus"></i></a>
        </div>
         {% endif %}  
        <div class="card-inner">
            <table class="datatable-init nowrap table">
                <thead>
                    <tr>
                        <th>Sr No</th>
                        <th> Category Name</th>
                        <th> Offer Name</th>
                        <th> Offer Image</th>
                        <th>Discount ($)</th>
                        <th>Validity</th>
                        <th>Terms & Condition</th>
                        <th>Status</th>
                        <th>Action</th>
                   
                    </tr>
                </thead>
                <tbody>
                    {% for i in offer_data %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{i.category.name|safe}}</td>
                        <td>{{i.offer_name|safe}}</td>
                        {% if i.offer_image%}
                        <td>
                            <img src ="{{i.offer_image.url}}"alt="{{i.name}}" style="width: 40px; height: 50px; border-radius: 50%;">
                        </td>
                        {% endif %}
                  
                       
                       
                        <td>{{i.offer_discount|safe}}</td>
                        <td>{{i.offer_validity|safe}}</td>
                        <td>{{i.offer_terms_condition|safe|truncatechars:20}}</td>
                        {% if i.is_active %}
                        <td>Active</td>

                        {%else%}
                        <td>Deactive</td>
                        {%endif%}
                        <td>
                            {% if perms.superadmin.view_offermanagement %} 
                            <a href="{% url 'view_offer' i.slug %}" class="btn btn-lg btn-primary"><i class="fa-solid fa-info"></i></a> 
                             {% endif %} 
                            {% if perms.superadmin.change_offermanagement%}  
                            <a href="{% url 'offer_edit' i.slug %}" class="btn btn-lg btn-success"><i class="fas fa-edit"></i></a>
                            {% endif %} 
                             {% if perms.superadmin.delete_offermanagement %} 
                            <a href="{% url 'offer_delete' i.id %}"  onclick="return confirm('Are you sure you want to delete this item')" class="btn btn-lg btn-danger"><i class="fa-solid fa-trash-can"></i></a> 
                             {% endif %} 
                        </td>         
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div><!-- .card-preview -->
</div> 
{% endblock content %}