{% extends "franchise/base/base.html" %}
{% load static %} 

{% block content %}

{% comment %} <div class="col-lg-6"> {% endcomment %}
    <div class="card card-bordered h-100">
        <div class="card-inner">
            <div class="card-head">
                <h5 class="card-title">Change Password</h5>
            </div>
            <form  method="post" id="register">
                {% csrf_token %}
                <div class="form-group" >
                    <label class="form-label" for="full-name">Old Password</label>
                    <div class="form-control-wrap">
                        <a href="#" class="form-icon form-icon-right passcode-switch lg" data-target="password">
                            <em class="passcode-icon icon-show icon ni ni-eye"></em>
                            <em class="passcode-icon icon-hide icon ni ni-eye-off"></em>
                        </a>
                       
                        <input type="password" class="form-control" name="oldPassword" id="password" placeholder="Enter your old password" data-rule-required="true">
                        
                    </a>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label" for="email-address">New Password</label>
                    <div class="form-control-wrap">
                        <a href="#" class="form-icon form-icon-right passcode-switch lg" data-target="newpass">
                            <em class="passcode-icon icon-show icon ni ni-eye"></em>
                            <em class="passcode-icon icon-hide icon ni ni-eye-off"></em>
                        </a>
                        <input type="password" class="form-control" id="newpass" name="new_password" placeholder="Enter your new password" data-rule-required="true">
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label" for="phone-no">Confirm Password</label>
                    <div class="form-control-wrap">
                        <a href="#" class="form-icon form-icon-right passcode-switch lg" data-target="phone-no">
                            <em class="passcode-icon icon-show icon ni ni-eye"></em>
                            <em class="passcode-icon icon-hide icon ni ni-eye-off"></em>
                        </a>
                        <input type="password" class="form-control" id="phone-no" name="confirm_password" placeholder="Enter your confirm password" data-rule-required="true">
                    </div>
                </div>
                
                
                
                <div class="form-group">
                    <button type="submit"  onclick="Register()" class="btn btn-lg btn-primary"> Change </button>
                </div>
            </form>
        </div>
    </div>
{% comment %} </div> {% endcomment %}
<script>
    function Register(){
        $('#register').valid()
    }
</script>
{% endblock content %}
