{% extends "admin/basic/base.html" %}
{% load static %} 

{% block content %}

<div class="nk-block nk-block-lg">
    <div class="nk-block-head">
        <div class="nk-block-head-content">
            <h4 class="title nk-block-title">Add Email Template</h4> 
            <div class="nk-block-des">
                {% comment %} <p>You can alow display form in column as example below.</p> {% endcomment %}
            </div>
        </div>
    </div>
    <div class="card card-bordered ">
        <div class="col-12" >
            <div class="card-head">
                <h5 class="card-title"></h5>
            </div>
            <form action="{% url 'emailtemplate_add' %}" method="post" id="register" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row column" >
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label" for="full-name-1" style="margin-top: 20px" >Title*</label>
                            <div class="form-control-wrap">
                                {% comment %} <input type="hidden" class="form-control" id="full-name-1" value="superadmin" name="superadmin" data-rule-required="true"> {% endcomment %}
                                <input type="text"  data-rule-required="true" data-rule-noSpace="true" class="form-control"  maxlength="50" id="full-name-1" name="title" data-rule-required="true">
                            </div>
                        </div>
                    </div>
                    {% comment %} <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label" for="full-name-1" style="margin-top: 20px" >Image</label>
                            <div class="form-control-wrap">
                                <input type="file" class="form-control" id="image" name="image" data-rule-required="true" accept="image/png, image/gif, image/jpeg" >
                            </div>
                        </div>
                    </div> {% endcomment %}
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label" for="email-address-1" style="margin-top: 20px" >Content*</label>
                            <div class="form-control-wrap">
                                {% comment %} <input type="url" class="form-control" id="url" name="url" data-rule-required="true">
                                 {% endcomment %}
                                <textarea data-rule-required="true" data-rule-noSpace="true" value="" name="content" required></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label" for="status" style="margin-top: 20px" >Status*</label>
                            <div class="form-control-wrap">
                                <select class="form-select" id="basicSelect" name="status" required>
                                    <option value="True"> Active
                                    </option>
                                    <option value="False" >
                                    {% comment %} {% if not is_active %} selected {% endif %}> {% if is_active %} selected {% endif %} {% endcomment %}
                                        Deactive
                                    </option>
                                </select>
                                
                            </div>
                        </div>
                    </div> 
                  
                    
                    </div>
                    {% comment %} <input type="hidden" class="form-control" id="email-address-1" name="customer" value="customer" data-rule-required="true"> {% endcomment %}

                    <div class="col-12">
                        <div class="form-group">
                            <button type="submit" onclick="Register()" class="btn btn-lg btn-primary" style="margin-top: 74px"> Add</button>
                            {% comment %} <button class="btn btn-lg btn-primary" style="margin-top: 74px"> Back</button> {% endcomment %}
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock content %}

{% block js_content %}
<script>
function Register(){
  jQuery.validator.addMethod("noSpace", function(value, element) { 
    if(value.indexOf(" ")==0){
        return false;
    }
    return true;
}, "No space please and don't leave it empty");
$.validator.addMethod('emailRegex', function(value, element) {
let emailExp = new RegExp(/^\b[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}\b$/i);
return emailExp.test(value);
}, 'Email format is not valid');  
$('#register').valid()
}
</script>
<script src="https://cdn.ckeditor.com/4.17.1/standard/ckeditor.js"></script>
<script>
    CKEDITOR.replace('content');
</script>
{% endblock js_content %}  