{% extends "admin/basic/base.html" %}
{% load static %} 

{% block content %}

<div class="nk-block nk-block-lg">
    <div class="nk-block-head">
        <div class="nk-block-head-content">
            <h4 class="title nk-block-title">Global Setting Detail</h4>
            <div class="nk-block-des">
                {% comment %} <p>You can alow display form in column as example below.</p> {% endcomment %}
            </div>
        </div>
    </div>
    <div class="card card-bordered">
        <div class="card-inner">
            <div class="card-head">
                {% comment %} <h5 class="card-title">User Create</h5> {% endcomment %}
            </div>
            <form  method="post" id="register">
                {% csrf_token %}
                <div class="row g-4">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label" for="full-name-1">Title</label>
                            <div class="form-control-wrap">
                                <input type="text" class="form-control" value="{{view_detail_data.title}}" readonly>
                            </div>
                        </div>
                    </div>
                
                    
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label" for="phone-no-1">Content</label>
                            <div class="form-control-wrap">
                                {% comment %} <input type="url" class="form-control" value="{{view_detail_data.global_url}}"> 
                                {% endcomment %}
                                <textarea value="" name="content" readonly>{{view_detail_data.content|safe}}</textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label" for="email-address-1">Status</label>
                            <div class="form-control-wrap">
                                <input type="text" class="form-control" value="{% if view_detail_data.is_active == True %} Active {% else %} Deactive {% endif %}" readonly>
                            </div>
                        </div>
                    </div>
                    
                    {% comment %} <div class="col-12">
                        <div class="form-group">
                            <input type="submit" class="btn btn-lg btn-primary" value="Create Account" onclick="Register()">
                        </div>
                    </div> {% endcomment %}
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock content %}

{% block js_content %}
<script>
    function Register(){
    $('#register').valid()
    }
</script>

<script src="https://cdn.ckeditor.com/4.17.1/standard/ckeditor.js"></script>
<script>
    CKEDITOR.replace('content');
</script>
{% endblock js_content %}  