
{% for i in product_price %}
    <tr class="counts">
        <td>{{i.user.first_name}} {{i.user.last_name}}</td>
        <td>{{i.user_type}}</td>
        <td>{{i.pin_code}} </td>
     
         {% if i.product.is_return == 1 %} 
       
            <td >
                <div class="form-control-wrap">
                    <input type="hidden" name="user_type{{forloop.counter0}}" value={{i.user_type}}  ></input>
                    <input type="hidden" name="pin_code{{forloop.counter0}}" value={{i.pin_code}}  ></input>
                    <input type="hidden" name="user_id{{forloop.counter0}}" value={{i.user.first_name}}  ></input>
                    {% if i.user_type == "propertymanager" %}
                    {% else %}
                    <input type="text"  maxlength="6"  data-rule-noZeroAtStart="true"  
                    data-rule-afterdecimalZero="true"step="0.01" 
                    data-msg-step="after decimal only two number allowed" 
                    oncopy="return false" onpaste="return false"  
                    onkeypress="return isNumberKey(event,this)" data-rule-required="true" 
                    data-rule-noSpace="true"  name="day_price{{forloop.counter0}}" 
                    value="{{i.zero_seven_days}}" class="form-control" >
                    {% endif  %}
                </div>
            </td>
            <td>
                <div class="form-control-wrap">
                    {% if i.user_type == "propertymanager" %}
                    {% else %}
                    <input type="text"  maxlength="6"  step="0.01" 
                    data-msg-step="after decimal only two number allowed" 
                    oncopy="return false" onpaste="return false"  data-rule-noZeroAtStart="true"  
                    data-rule-afterdecimalZero="true" onkeypress="return isNumberKey(event,this)" 
                    data-rule-required="true"  data-rule-noSpace="true"  name="days_price{{forloop.counter0}}" 
                    value="{{i.greaterthan_seven}}" class="form-control" >
                    {% endif %}
                </div>
            </td>
            <td>
                <div class="form-control-wrap">  
                    {% if i.user_type == "propertymanager" %}
                    <input type="text"  maxlength="6"  step="0.01" data-msg-step="after decimal only two number allowed" 
                    oncopy="return false" onpaste="return false"  data-rule-noZeroAtStart="true"  
                    data-rule-afterdecimalZero="true" onkeypress="return isNumberKey(event,this)" data-rule-required="true"  
                    data-rule-noSpace="true"  name="wholesale{{forloop.counter0}}" value="{{i.zero_seven_days_wholesale}}" 
                    class="form-control " >
                    {% else %}
                    {% endif %}
                </div>
            </td>
            <td>
                <div class="form-control-wrap">
                    {% if i.user_type == "propertymanager" %}
                        <input type="text"  maxlength="6"  
                        step="0.01" data-msg-step="after decimal only two number allowed" oncopy="return false" 
                        data-rule-noZeroAtStart="true"  data-rule-afterdecimalZero="true"  onpaste="return false" 
                        onkeypress="return isNumberKey(event,this)" data-rule-required="true"  data-rule-noSpace="true" 
                        name="wholesale_greaterthan{{forloop.counter0}}" value="{{i.greaterthan_seven_wholesale}}" 
                        class="form-control " >
                    {% else %}
                    {% endif %}
                </div>
            </td>
         {% else %}
            <td >
                <div class="form-control-wrap">
                    <input type="hidden" name="user_type{{forloop.counter0}}" value={{i.user_type}}  ></input>
                    <input type="hidden" name="pin_code{{forloop.counter0}}" value={{i.pin_code}}  ></input>
                    <input type="hidden" name="user_id{{forloop.counter0}}" value={{i.user.first_name}}  ></input>
                
                
                    <input type="text"  maxlength="6"  data-rule-noZeroAtStart="true"  
                    data-rule-afterdecimalZero="true"step="0.01" 
                    data-msg-step="after decimal only two number allowed" 
                    oncopy="return false" onpaste="return false"  
                    onkeypress="return isNumberKey(event,this)" data-rule-required="true" 
                    data-rule-noSpace="true"  name="sale_price{{forloop.counter0}}" 
                    value="{{i.sale_price}}" class="form-control" >
                
                </div>
            </td>
        {% endif  %}  
    </tr>
{% endfor %}
