<html>
{% extends 'web/basic/base.html' %}
 {% load static %}
 {% block title %}Change Password{% endblock %}

 {% block content %}
   <body>

    <div class="wraper-main">
        <!-- ----Header---- -->
      {% include 'web/basic/inner-header.html' %}
        <!-- ---End Header--- -->
            <div class="wraper pt85 wtvh100">

                <section class="breadcrumb-bg-sec">
                    <div class="container">
                        <nav aria-label="breadcrumb">
                          <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item"><a href="/my/profile/{{request.user.slug}}">My Profile</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Change password</li>
                          </ol>
                        </nav>
                    </div>
                </section>

                 <section class="in-sp5 dashboard-us-sec">

                        <div class="container">
                            <div class="row inner-dash-bord">
                                <div class="col-md-3 dash_left">
                                    <!-- -------left-menu-------- -->
                                     {% include 'web/profile-setup/my-profile-sidebar.html' %}
                                    <!-- -------left-menu-------- -->
                                </div>
                                <div class="col-md-9 dash_right">
                                    <div class="dashboard-right-body">
                                        <!-- -------dashboard Heading-------- -->
                                        <div class="head-dash-board">
                                            <div class="row">
                                                <div class="col-md-6 head-dash-title">
                                                    <h2>Change Password</h2>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- -------dashboard Heading-------- -->

                                        <!-- -------dashboard body-------- -->
                                        <div class="dashboard-body">
                                            <div class="equal-spacing30">

                                                <div class="cover_my_profile">
                                                    <form class="row" method="POST" id="change_password_form">
                                                        {% csrf_token %}
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label class="form-label">Old Password</label>
                                                                <input data-rule-required="true"  data-rule-noSpace="true" name="old_password" type="password" class="form-control" placeholder="Enter Old Password">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label class="form-label">New Password</label>
                                                                <input data-rule-required="true"  data-rule-noSpace="true" data-rule-PASSWORD="true" name="new_password" type="password" class="form-control" placeholder="Enter new Password">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label class="form-label">Confirm New Password</label>
                                                                <input data-rule-required="true"  data-rule-noSpace="true" data-rule-PASSWORD="true" name="confirm_new_password" type="password" class="form-control" placeholder="Enter Confirm New Password">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12 pt-2 min-wd154">
                                                            <button onclick="change_password()" type="submit" class="btn" type="button">Submit</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- -------dashboard body-------- -->
                                    </div>
                                </div>
                            </div>
                        </div>

                 </section>
                 
            </div>
        <!-- ----------footer section----- ------ -->
        {% include 'web/basic/footer.html' %}
        <!-- ----------footer section----------- -->
    </div>

    <!-- -----java script------ -->
   
    <!-- -----side menu------ -->
    </body>
{% include 'web/js/helper.html' %}
<script>
    function change_password(){
        $('#change_password_form').valid()
        $.validator.addMethod("PASSWORD", function (value, element) {
                  return /[\@\#\$\%\^\&\*\(\)\_\+\!]/.test(value) && /[a-z]/.test(value) && /[0-9]/.test(value) && /[A-Z]/.test(value);
    },"Passwords are 8-16 characters with uppercase letters, lowercase letters and atleast one number and one special character.");
    jQuery.validator.addMethod("noSpace", function(value, element) { 
            if(value.indexOf(" ")==0){
                return false;
            }
            return true;
            }, "No space please and don't leave it empty");        
}
    
</script>
{% endblock content %}

</html>