 {% load static %}
         <title>Honest Sherpa | 404 not found</title>

 <link href="{% static 'web/css/bootstrap.css' %}" />
        <link href="{% static 'web/css/bootstrap.min.css' %}"  />
        <link  href="{% static 'web/css/fontawesome-all.css' %}" />
        <link  href="{% static 'web/css/fontawesome.css' %}" />      
        <link  href="{% static 'web/css/jquery.mCustomScrollbar.min.css' %}" />      

        <link href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
        {% comment %} <link  href="{% static 'web/css/fontawesome-all.min.css' %}" /> {% endcomment %}
        <link href="{% static 'web/css/owl.carousel.css' %}" />

        <link href="{% static 'web/css/owl.carousel.min.css' %}" />
        <link href="{% static 'web/css/owl.theme.css' %}" />

        <link href="{% static 'web/fonts/remixicon.css' %}" /> 
        <link  href="{% static 'web/css/responsive.css' %}"/>
        <link href="{% static 'web/css/slick.css' %}"/>
        <link href="{% static 'web/css/style.css' %}" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css"  /> 
<!-- CSS only -->
   <div class="page-404" >
      <div class="container" >
            <!-- <figure><img src="{{base_url}}seedesta-error/images/no-bell.svg"></figure> -->
            <figcaption>
               <h1>404</h1>
               <h2>Page not found!</h2>
               <img src="{% static '404.jpg' %}">
            <h3> <a href="{{base_url}}">Visit this</a> </h3>
            </figcaption>
         </div>
   </div>
   <!-- JavaScript Bundle with Popper -->
<script src="{% static 'web/js/jquery-3.3.1.min.js' %}"></script>
      <script  src="{% static 'web/js/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'web/js/bootstrap.min.js'%}"></script>

    <script type="text/javascript" src="{% static 'web/js/owl.carousel.js' %}"></script>
    <script type="text/javascript" src="{% static 'web/js/owl.carousel.min.js' %}"></script>

    
    <script type="text/javascript" src="{% static 'web/js/slick.min.js' %}"></script>
    
    
    
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.js"></script>
   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>