 {% load static %}
 <header id="fixed-header">
              <div class="container-fluid">
                 <div class="row">
                    <div class="col-md-12">
                       <nav class="navbar navbar-expand-lg">
                          <a class="navbar-brand header-view" href="/">
                             <img src="{% static 'web/images/logo.svg' %}">
                          </a>
                          <a href="/" class="stiky-logo" style="display: none;">
                             <svg xmlns="http://www.w3.org/2000/svg" width="47.613" height="47.62" viewBox="0 0 47.613 47.62">
                                <g id="logo" transform="translate(-138 -356)">
                                   <g id="Group_1" data-name="Group 1" transform="translate(138 356)">
                                      <path id="Path_1" data-name="Path 1" d="M432.881,186.551a23.805,23.805,0,0,1,16.495,36.258l-.1.162.006-.009a94.166,94.166,0,0,0-1.194-14.277,41.751,41.751,0,0,0-1.072-4.659,22.071,22.071,0,0,0-3.056-6.571c-.422-.609-.825-1.14-1.2-1.647.359.528.756,1.084,1.165,1.728l-.022.062c-.4-.581-.787-1.087-1.144-1.572a24.815,24.815,0,0,1,2.906,5.065c2.247,5.474,2.715,13.167,2.7,19.9,0,1.05-.019,2.144-.05,3.29-8.065-.337-10.168-12.986-10.311-20.132,0-.259-.006-.506-.006-.744a34.556,34.556,0,0,0-1.806-9.543,31.8,31.8,0,0,0-3.312-7.315Z" transform="translate(-405.45 -186.27)" fill="#79ae2d" fill-rule="evenodd"/>
                                      <path id="Path_2" data-name="Path 2" d="M207.837,228.007a20.2,20.2,0,1,1,4.415-39.911c-.031-.069-.062-.141-.094-.209-.122-.269-.25-.537-.381-.8a21.663,21.663,0,0,0-1.244-2.2l-.519-.787c-.715-.066-1.444-.1-2.178-.1a23.81,23.81,0,1,0,18.289,39.058,8.067,8.067,0,0,1-3.615-1.365,20.149,20.149,0,0,1-14.673,6.315Z" transform="translate(-184.027 -184)" fill="#41481c" fill-rule="evenodd"/>
                                   </g>
                                </g>
                             </svg>
                          </a>
                          <button class="btn" id="menu-button" type="button">
                          <span class="navbar-toggler-icon">
                             <i class="ri-menu-line"></i>
                          </span>
                          </button>
                          <div class="nave-bar" id="navbarSupportedContent">
                             <ul class="navbar-nav hide-menu mr-auto" id="hide-menu">
                                <a href="javascript:void(0)" class="closebtn" id="close" onclick="closeNav()">×</a>
                                <li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
                                <li class="nav-item"><a class="nav-link" href="/about/">About us</a></li>
                                <li class="nav-item"><a class="nav-link" href="/contact/us">Contact us</a></li>
                                <li class="nav-item"><a class="nav-link" href="javascript:;">How It Work</a></li>
                                <li class="nav-item"><a class="nav-link" href="{% url 'blog_list' %}">Blog</a></li>
                             </ul>
                            
                             <div class="login-section">
                              
                                <a type="button" class="btn" href="/login/" >Login</a>
                                {% comment %} onclick="select_user()" {% endcomment %}
                                <a class="btn btn-liner" href="/sign-up/">Sign up</a>
                             </div>
                          </div>
                       </nav>
                    </div>
                 </div>
              </div>
        </header>
        <!-- Modal -->
   
    <!--End Modal -->