{% extends "admin/basic/base.html" %}
{% load static %} 

{% block content %}

<div class="nk-block nk-block-lg">
    <div class="nk-block-head">
        <div class="nk-block-head-content">
            <h4 class="title nk-block-title">Add Option</h4> 
            <div class="nk-block-des">
                {% comment %} <p>You can alow display form in column as example below.</p> {% endcomment %}
            </div>
        </div>
    </div>
    <div class="card card-bordered ">
        <div class="col-12" >
            <div class="card-head">
                <h5 class="card-title"></h5>
            </div>
            <form  method="post" id="register" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="column" >
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label" for="full-name-1" style="margin-top: 20px" >Option Name*</label>
                            <div class="form-control-wrap">
                                {% comment %} <input type="hidden" class="form-control" id="full-name-1" value="superadmin" name="superadmin" data-rule-required="true"> {% endcomment %}
                                <select class="form-control" id="basicSelect" name="name" required>
                                      <option selected disabled>Select Option Name</option>
                                    {% for i in option %}
                                    <option value="{{i.id}}"> {{i.name}}</option>
                                    {% endfor %}
                                </select> 
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mt-4 option" id="option_div_0">
                        <div class="row align-items-end" id="div_section_0">
                            <div class="col-sm-5">
                                <div class="form-group" > 
                                    <label class="form-label" for="status">Option key*</label>
                                    <input type="hidden" class="form-control" id="count" name="count" value="" data-rule-required="true"> 
                                    <input type="text" class="form-control" id="email-address-1" name="option[0]key" value="" data-rule-noSpace="true" data-rule-required="true"> 
                                </div>
                            </div>
                            <div class="col-sm-5">
                                 <div class="form-group" > 
                                    <label class="form-label"  for="status">Option Value*</label>
                                    <input type="text" class="form-control" id="email-address-2" name="option[0]value" value="" data-rule-noSpace="true" data-rule-required="true"> 
                                 </div>
                            </div>
                            <div class="col-sm-2">
                              <button type="button" id="add_more_0" onclick="vaccination()" style="white-space: nowrap; margin-left: 10px;" class="btn btn-success" > + Add More</button>
                            </div>
                        </div>

                        <div id="option_div">

                        </div>

{% comment %} 
                        <div class="option  option_add_mare" >
                            <div class="form-group" >
                                <label class="form-label" for="status">Option key*</label>
                                <label class="form-label"  for="status">Option Value*</label>
                                    <div class="form-control-wrap d-flex">
                                            <input type="hidden" class="form-control" id="count" name="count" value="" data-rule-required="true"> 
                                            <input type="text" class="form-control" id="email-address-1" name="option[0]key" value="" data-rule-noSpace="true" data-rule-required="true"> 
                                            <input type="text" class="form-control" id="email-address-2" name="option[0]value" value="" data-rule-noSpace="true" data-rule-required="true"> 
                                            <button type="button" id="add_more_0" onclick="vaccination()" style="white-space: nowrap; margin-left: 10px;" class="btn btn-success" > + Add More</button>
                                    </div>
                            </div>
                        </div>
                        <div id="option_div">

                        </div> {% endcomment %}
                    </div>
                </div> 
            </div>
                    <div class="col-12  mb-3">
                        <div class="form-group">
                            <button type="submit" onclick="Register()" class="btn btn-lg btn-primary" style="margin-top: 74px"> Add</button>
                            {% comment %} <button class="btn btn-lg btn-primary" style="margin-top: 74px"> Back</button> {% endcomment %}
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock content %}

{% block js_content %}
<script>
function Register(){
  jQuery.validator.addMethod("noSpace", function(value, element) { 
    if(value.indexOf(" ")==0){
        return false;
    }
    return true;
}, "No space please and don't leave it empty");
$.validator.addMethod('emailRegex', function(value, element) {
let emailExp = new RegExp(/^\b[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}\b$/i);
return emailExp.test(value);
}, 'Email format is not valid');  
$('#register').valid()
}
</script>
{% comment %} <script src="https://cdn.ckeditor.com/4.17.1/standard/ckeditor.js"></script>
<script>
    CKEDITOR.replace('descrip');
</script> {% endcomment %}
<script>
  let i = 1
  function vaccination(){
  $('#option_div:last').append(`
    
                        <div class="option" id="option_div_${i}">
                            <div class="form-group" id="div_section_${i}">
                                <label class="form-label" for="status" style="margin-top: 20px" >Option key*</label>
                                <label class="form-label"  for="status" style="margin-left:100px;" >Option Value*</label>
                                    <div class="form-control-wrap d-flex">
                                        <input type="text" class="form-control" id="email-address-1" name="option[${i}]key"  value="" data-rule-required="true"> 
                                        <input type="text" class="form-control" id="email-address-2" name="option[${i}]value"  value="" data-rule-required="true"> 
                                        <button type="button" id="remove_${i}" onclick="remove(this,${i})"  class="btn btn-danger"> Remove </button>
                                    </div>
                                    
                            </div>
                            
                        </div>
                   

  `)
  i++
    $('#count').val(i)
    console.log($('#count').val(i))
    
}
function remove(e,id){   
        $('#option_div_'+id).remove();
        i--
        $('#count').val(i)
    }
  </script>

{% endblock js_content %}                     