{% extends "admin/basic/base.html" %}
{% load static %} 
{% block content %}

<div class="nk-block nk-block-lg">
    <div class="nk-block-head">
        <div class="nk-block-head-content">
            
            <h4 class="nk-block-title">Option Management</h4>
            <div class="nk-block-des">
                {% comment %} <p>Using the most basic table markup, here’s how <code class="code-class">.table</code> based tables look by default.</p> {% endcomment %}
            </div>
        </div>
       
    </div>
    <div class="card card-preview">
        <div "nk-block-head-content" style="text-align: right;padding:1rem 2rem"> 
            <a  href="{% url 'add_option_value' %}" class="btn btn-info" ><i class="fa-solid fa-plus"></i></a>
        </div>
        <div class="card-inner">
            <table class="datatable-init nowrap table">
                <thead>
                    <tr>
                        <th>Sr No</th>
                        <th>Option Name</th>
                        <th>Option Key</th>
                        <th>Option Value</th>
                        <th>Status</th>
                        <th>Action</th>
                   
                    </tr>
                </thead>
                <tbody>
                    {% for i in option %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{i.option.name|safe|truncatechars:30}}</td>
                        <td>{{i.option_name|safe|truncatechars:30}}</td>
                        <td>{{i.option_value|safe|truncatechars:30}}</td>
                        {% if i.is_active %}
                        <td>Active</td>
                        {% else %}
                        <td>Deactive</td>
                        {% endif %}
                        <td>
                            <a  class="btn btn-lg btn-primary"><i class="fa-solid fa-info"></i></a> 
                            <a href="{% url 'edit_option_value' i.option_id %}" class="btn btn-lg btn-success"><i class="fas fa-edit"></i></a>
                            <a href="{% url 'delete_option_value' i.option_id %}" class="btn btn-lg btn-danger"><i class="fa-solid fa-trash-can"></i></a> 
                        </td>         
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div><!-- .card-preview -->
</div> 
{% endblock content %}